<div class="container articles">
  <div class="row">
    <% @articles.each_with_index do |a, i| %>
      <div class="item col-md-6">
        <a class="media" href="<%= article_path(a) %>">
          <div class="pull-left">
            <div class="media-object" style="background-image: url('<%= a.cover.url %>')">              
            </div>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= a.title %></h4>
            <p><%= (sanitize (strip_tags a.content)).truncate(100) %></p>
          </div>
        </a>
      </div>
    <% end %>

    <%= paginate @articles %>

  </div>
</div>
