<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= main_app.root_path %>">
          <%= image_tag 'logo-chuchuang.jpg' %>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <% pages = ['about', 'speakers'] %>
          <% pages.each do |p| %>
            <%= content_tag 'li', link_to( t("navbar.#{p}"), page_path(p), class: p ), class: ('active' if params[:id] == p) %>
          <% end %>

          <%= content_tag 'li', link_to( t("navbar.agendas"), agenda_path(id: 1), class: 'articles' ), class: ('active' if controller_name == 'agendas' ) %>

          <%= content_tag 'li', link_to( t("navbar.articles"), in_page_articles_path(page: 1), class: 'articles' ), class: ('active' if controller_name == 'articles' ) %>
          <li><a href="#" class="apply" data-toggle="modal" data-target="#modalApply"><%= t 'navbar.apply' %></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="sns"><a href="#">!</a></li>
          <li class="sns"><a href="#">$</a></li>
          <li><a href="#">中文</a></li>
          <li><a href="#">English</a></li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->    
  </div>
</nav>