<div class="container home">

  <!-- slide -->
  <div class="container">
    <div class="content" id="slide">
      <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% Article.where(show_in_home_slide: true).each_with_index do |a, i| %>
            <div class="item<%= ' active' if i == 1 %>">
              <a href="<%= article_path a %>" style="background-image: url('<%= a.cover.url %>')">
              </a>
              <div class="carousel-caption">
                <%= a.title %>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>  
  </div>

  <div class="container topics">
    <div class="row">

      <% Article.where(show_in_home_topic: true).first(3).each do |a| %>
        <div class="col-md-4">
          <a class="thumbnail" href="<%= article_path a %>" style="background-image: url('<%= a.cover.url %>')">
            <div class="caption">
              <h4><%= a.title %></h4>
            </div>
          </a>
        </div>
      <% end %>

    </div>
  </div>

</div>