<div class="container news">
  <div class="row">
  <% News.all.each_with_index do |n, i| %>
      <div class="item col-md-6">
        <a class="media" href="#" data-toggle="modal" data-target="#modalNews<%= i %>">
          <div class="pull-left">
            <%= image_tag "http://www.avatarpro.biz/avatar?s=64&rnd=#{rand}", class: 'media-object', size: '64x64'  %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= n.title %></h4>
            <p><%= n.content.truncate(100) %></p>
          </div>
        </a>
      </div>

      <div class="modal fade" id="modalNews<%= i %>" tabindex="-1" role="dialog" aria-labelledby="modalNewsLabel<%= i %>" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="modalNewsLabel<%= i %>"><%= n.title %></h4>
            </div>
            <div class="modal-body">
              <%= n.content %>
            </div>
          </div>
        </div>
      </div>

    <% end %>    
  </div>
</div>
