<div class="container speakers">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <% Speaker.all.each_with_index do |s, i| %>

          <div class="col-md-3 speaker">
            <a class="thumbnail" href="#" data-toggle="modal" data-target="#modalSpeaker<%= i %>">
              <%= image_tag s.avatar.url, class: 'img-circle', size: '128x128'  %>
              <% #binding.pry %>
              <div class="caption">
                <h4><%= s.name %></h4>
                <p><%= s.subtitle %></p>
              </div>
            </a>
          </div>

          <div class="modal fade" id="modalSpeaker<%= i %>" tabindex="-1" role="dialog" aria-labelledby="modalSpeakerLabel<%= i %>" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="modalSpeakerLabel<%= i %>"><%= s.name %></h4>
                </div>
                <div class="modal-body">
                  <%= raw s.text %>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
